<!--=========================
Name: Brittany Dockter
Date: March 26, 2020
Assignment: not-found.component.html
Description: html content for 404 error page
==========================-->

<div flLayout="column" class="parent">
    <mat-card fxLayout class="mat-elevation-z8 card">
      <mat-card-title class="mat-headline card-title">404</mat-card-title><br />
      <mat-card-subtitle class="card-subtitle">Page not found</mat-card-subtitle>
      <!-- add image and attribution -->
      <mat-card-content class="card-content">
        <button mat-raised-button color="primary" routerLink="/">Return to dashboard</button>
      </mat-card-content>
    </mat-card>
  </div>