/*=========================
Name: Brittany Dockter
Date: March 15, 2020
Assignment: login.component.css
Description: angular pre-built theme
==========================*/

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';