/*=========================
Name: Brittany Dockter
Date: March 15, 2020
Assignment: login.component.css
Description: angular pre-built theme
==========================*/

.login-container {
    width: 30%;
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    padding: 2%;
    text-align: center;
    background-color: #423e8a;
}
.login-subtitle {
    color: white;
}
.parent {
    height: 100%;
    position: relative;
}