.parent {
  height: 100%;
}

.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;;
}

.navbar-container {
  padding: 5px;
  color: #ffffee;
}

.toolbar {
  background: linear-gradient(
        180deg,
        #3e828a 0%,
        #423e8a 100%
    )
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding: 10% 0;
  min-height: 100vh;
  height: auto;
  position: relative;
  background-image: url("../../../../nodebucket-icon.png");
  background-attachment: fixed;
  background-position-x: 5%;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 100%;
}

.sub-parent {
  height: 100%;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  color: #ffffee;
  background: linear-gradient(
        180deg,
        #3e828a 0%,
        #423e8a 100%
    )
}

.bu-link {
  text-decoration: none;
  color: #ffffee;
}

.bu-link:hover {
  text-decoration: underline;
}